/* mobiili-tyylit */

@media only screen and (max-width: 800px){

/* asetetaan elementit allekkain 100% leveydelle */


    header,
    header > div.logo,
    header > nav,
    header > nav a
    {
        display: block;
        float: none;
        height: auto;
        width: 100%;
        text-align: center;
        clear: both;
    }

    .v-center, .h-right{
        display: block;
        position: relative;
        transform: none;
    }

    header nav a{
        padding: 5px 0;
    }
}